.wp-block-button__link svg {
	vertical-align: middle;
	fill: currentcolor;
}

.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color):hover {
    color: var(--wp--preset--color--secondary);
}
